{% extends "/base/base.html" %} 
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block title %}MusicOS{% endblock %}

{% block main_content %}
    <div class="text-center">      
        <h1 id="titulo" class="display-5 fw-bold">TIENDA EN LÍNEA DE DISCOS MUSICALES.</h1>
        <h3 id="subtitulo" class="display-6">Rock, pop, jazz y  mucho más en MusicOS.</h3>
    </div>

    <div id="btn_catalogo" class="text-center">
        <button type="button" class="btn btn-danger btn-sm">        
            <a class="navbar-brand fw-bold fs-5" href="#">
                VER CATÁLOGO
                <img  src="{{ url_for('static', filename='img/play.png') }}" alt="" width="45" height="45" style="filter: brightness(0) invert(1);"/>
            </a>
        </button>
    </div>
{% endblock %}

{% block products%}
    <div class="gallery-title">
        <hr class="mx-auto" style="color: crimson; width: 70%;">
        <p class="display-5 text-uppercase text-center text-white">Principales géneros</p>
        <hr class="mx-auto" style="color: crimson; width: 70%;">
    </div>
    <div class="body">
        <div class="gallery">
            <div class="gallery-container">
                <a href="/electronica">
                    <img class="gallery-item gallery-item-1" src="{{ url_for('static', filename='/img/home/generos/electronica.jpg') }}" data-index="1">
                </a>
                <a href="/pop">
                    <img class="gallery-item gallery-item-2" src="{{ url_for('static', filename='/img/home/generos/pop.jpg') }}" data-index="2">
                </a>
                <a href="/rock">                
                    <img class="gallery-item gallery-item-3" src="{{ url_for('static', filename='/img/home/generos/rock.jpg') }}" data-index="3">
                </a>
                <a href="/hiphop">
                    <img class="gallery-item gallery-item-4" src="{{ url_for('static', filename='/img/home/generos/hiphop.jpg') }}" data-index="4">
                </a>
                <a href="/jazz">
                    <img class="gallery-item gallery-item-5" src="{{ url_for('static', filename='/img/home/generos/jazz.jpg') }}" data-index="5">
                </a>
            </div>
            <div class="gallery-controls"></div>
        </div>
    </div>
{% endblock %}

{% block sold %}
    <div class="gallery-title">
        <hr class="mx-auto" style="color: #dc3545; width: 70%;">
        <p class="display-5 text-uppercase text-center text-white">más vendidos</p>
        <hr class="mx-auto" style="color: #dc3545; width: 70%;">
    </div>
    <div class="body">
        <div class="gallery">
            <div class="gallery-container">
                <a href="/electronica">
                    <img class="gallery-item gallery-item-1" src="{{ url_for('static', filename='/img/home/vendidos/lemons.jpg') }}" data-index="1">
                </a>
                <a href="/pop">
                    <img class="gallery-item gallery-item-2" src="{{ url_for('static', filename='/img/home/vendidos/sour.jpg') }}" data-index="2">
                </a>
                <a href="/rock">                
                    <img class="gallery-item gallery-item-3" src="{{ url_for('static', filename='/img/home/vendidos/backInBlack.jpg') }}" data-index="3">
                </a>
                <a href="/hiphop">
                    <img class="gallery-item gallery-item-4" src="{{ url_for('static', filename='/img/home/vendidos/myBeautifulDarkTwistedFantasy.jpg') }}" data-index="4">
                </a>
                <a href="/jazz">
                    <img class="gallery-item gallery-item-5" src="{{ url_for('static', filename='/img/home/vendidos/kindOfBlue.jpg') }}" data-index="5">
                </a>
            </div>
            <div class="gallery-controls"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/scripts/index.js') }}"></script>
{% endblock %}