<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block head %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        <header>
            <nav class="navbar navbar-dark navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href=""> <p class="h4">MusicOS</p></a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span><img src="{{ url_for('static', filename='img/menu.png') }}" width="25" height="25" style="filter: brightness(0) invert(1);"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav navbar-center me-auto mb-2 mb-lg-0">
                            <li class="nav-item">    
                                <a class="navbar-item fw-bold fs-5" href="#">
                                    <img  src="{{ url_for('static', filename='img/search.png') }}" alt="" width="25" height="25" style="filter: brightness(0) invert(1);"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/" style="text-transform: uppercase;">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/store" style="text-transform: uppercase;">Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="text-transform: uppercase;">Distribuidores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="text-transform: uppercase;">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="text-transform: uppercase;">Contactanos</a>
                            </li>
                        </ul>    
                        <form class="d-flex" role="login">
                            <!-- Button trigger modal -->
                            <button type="button" class="form-control me-2 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-transform: uppercase;">
                                Acceder | Registrarse
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <main data-bs-theme="dark" class="bg-dark" id="page-content">
            <div class="content">    
                {% block main_content %}{% endblock %}
            </div>
            <div class="category">
                {% block products%}{% endblock %}
            </div>
            <div class="sold">
                {% block sold %}{% endblock %}
            </div>
        </main>
        
        <footer class="text-lg-start text-white" style="background-color: #1c2331">
            <section class="d-flex justify-content-between p-4" style="background-color: #dc3545;">
            <div>
                <span class="text-left" style="text-align: justify;">Get connected with us:</span>
            </div>
            
            </section>

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">MusicOS</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                            <p class="text-left" style="text-align: justify;">
                                Somos una tienda de discos musicales. Nuestra misión es darle a los nostálgicos 
                                de la música un viaje al pasado, dándoles la satisfacción que nececitan de sentir 
                                la música real.
                            </p>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            
                            <h6 class="text-uppercase fw-bold">Secciones</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                            <p>
                                <a href="#!" class="text-white">Generos</a>
                            </p>
                            <p>
                                <a href="#!" class="text-white">Mi Cuenta</a>
                            </p>

                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Ligas útiles</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                            <p>
                                <a href="#!" class="text-white">Facebook</a>
                            </p>
                            <p>
                                <a href="#!" class="text-white">Instagram</a>
                            </p>
                            <p>
                                <a href="#!" class="text-white"> Twitter</a>
                            </p>
                            <p>
                                <a href="#!" class="text-white">Youtube</a>
                            </p>
                        </div>

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Contacto</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                            <p><i class="fas fa-home mr-3"></i> Jalisco, GDL 10012, MEX</p>
                            <p><i class="fas fa-envelope mr-3"></i> musicos@musica.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 52 33 28 12 48 59</p>
                            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                    © 2020 Copyright:
                <a class="text-white" href="https://musicos.glitch.me/">MusicOS.com</a>
            </div>
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" data-bs-theme="dark">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-der">
                                <h2 class="text-center text-uppercase display-4">Acceder</h2>
                                <!-- Aquí va el contenido del formulario para acceder -->
                                <div class="col-auto">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Usuario o correo" required>
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
                                </div>
                                <div class="col-auto text-center">
                                    <button type="submit" class="btn btn-danger " name="" id="login">Acceder</button>
                                </div>
                                <a href=""><p class="h-6">¿Olvidaste tu contraseña?</p></a>
                            </div>
                            <div class="col-md-6 col-izq">
                                <h2 class="text-center text-uppercase display-4">Registro</h2>
                                <!-- Aquí va el contenido del formulario para registrar -->
                                <div class="col-auto">
                                    <input type="email" class="form-control" name="email" id="user" placeholder="Nombre de usuario" required>
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" name="password" id="email" placeholder="Correo electronico" required>
                                </div>
                                <div class="col-auto">
                                    <input type="email" class="form-control" name="email" id="password" placeholder="Contraseña" required>
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" name="password" id="vpassword" placeholder="Validar contraseña" required>
                                </div>
                                <div class="col-auto text-center">
                                    <button type="submit" class="btn btn-danger" name="" id="registrar">Registrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                // Agregar clase active al nav-link activo
                var url = window.location.pathname;
                $('.nav-item a.active').removeClass('active');
                $('a[href="'+url+'"]').addClass('active');
            });
        </script>
        <script src="{{ url_for('static', filename='css/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js') }}"></script>
    </body>
</html>