.content{
    background-image: url('/static/img/index.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1240px) and (min-height: 1000px){   
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    form.d-flex{
        position: absolute;
        left: 80%;
        transform: translatex(-50%);
    }
}