#btn_catalogo button{
    margin-top: 40%;
    margin-bottom: 2.8%;
}

@media screen and (max-width: 898px) {
    #titulo{
        font-size: 100%;
        padding-top: 3%;
    }
    #subtitulo{
        font-size: 90%;
    }
}

/*CARRUSEL*/
.body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gallery-title{
    margin-top: 30px;
}
.gallery{
    width: 100%;
}
.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
}

.gallery-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus{
    outline: none;
}

.gallery-controls-previous{
    position: relative;
}

.gallery-controls-previous::before{
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before{
    left: -40px;
}

.gallery-controls-next{
    position: relative;
}

.gallery-controls-next::before{
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45;
    transform: rotate(-45deg) translateX(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before{
    right: -40px;
}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery nav li{
    background-color: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected{
    background: white;
}

/*BANNER*/
.banner-body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner-title{
    margin-top: 30px;
}
.banner{
    width: 100%;
}
.banner-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
}

.banner-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.banner-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.banner-item-2, .banner-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.banner-item-2{
    left: 30%;
    transform: translateX(-50%);
}

.banner-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.banner-item-4{
    left: 70%;
    transform: translateX(-50%);
}

.banner-item-5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.banner-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.banner-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.banner-controls-button:focus{
    outline: none;
}

.banner-controls-previous{
    position: relative;
}

.banner-controls-previous::before{
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.banner-controls-previous:hover::before{
    left: -40px;
}

.banner-controls-next{
    position: relative;
}

.banner-controls-next::before{
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45;
    transform: rotate(-45deg) translateX(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.banner-controls-next:hover::before{
    right: -40px;
}

.banner-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.banner nav li{
    background-color: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.banner-nav li.banner-item-selected{
    background: white;
}

