/* Estilos para el contenedor principal */
.store-container {
    display: flex;
    background-color: #282c34;
    color: #fff;
    height: 52.15vh;
}

/* Estilos para el sidebar */
.sidebar h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-left: 25px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a{
    text-decoration: none;
    color: #ccc;
    font-size: 1rem;
}

.sidebar a:hover {
    color: #fff;
    font-weight: bold;
}

/* Estilos para la sección de productos */
.products {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: #1d2025;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h2, .product p, .product .price {
    margin: 10px;
    color: #fff;
}

.product h2 {
    font-size: 1.2rem;
}

.product p {
    font-size: 1rem;
}

.product .price {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Estilos para el toggle-sidebar */
.toggle-sidebar {
    display: none;
}


.sidebar {
    width: 250px;
    background-color: #1d2025;
    color: #fff;
    padding: 20px;
}

.content{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .toggle-nav {
        width: 100%;
        height: auto;
        color: #fff;
    }
    
    .toggle-sidebar {
        display: block;
        height: 60px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #dc3545;
        color: white;
        cursor: pointer;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        z-index: 0;
    }

    .sidebar.active {
        transform: translateX(0);
    }
}
