<section class="store-container">
    <aside class="sidebar">
        <h3 class="text-center">Categorías</h3>
        <hr style="color: #dc3545;">
        <ul>
            <ng-container *ngFor="let cateogory of categories">
                <li><a href="/store/{{cateogory}}" style="text-transform: capitalize;">{{cateogory}}</a></li>
                <hr style="color: #7c4dff; width: 70%;">                     
            </ng-container>
        </ul>
    </aside>
    <div class="content">
        <div class="toggle-nav">    
            <button class="toggle-sidebar mx-auto display-6">Ver Categorías</button>
        </div>
        <div class="products">
            <ng-container *ngFor="let album of albumProducts">
                <div class="product" id="product-{{album.codigo_Album}}">
                    <img loading="lazy" [src]="imageUrl+album.codigo_Album" alt="Imagen producto">
                    <h2 class="display-6 text-center">{{album.titulo}}</h2>
                    <p class="text-center">{{album.autor}} • {{album.total_De_Ventas}} M de ventas</p>
                    <small class="subtitle">Canciones</small>
                    <small>{{album.canciones}}</small>
                    <small class="subtitle">Género</small> 
                    <small>{{album.genero}}</small>
                    <small class="subtitle">Fecha de salida</small> 
                    <small>{{ album.fecha_Salida | date:'yyyy-MM-dd' }}</small>
                    <small class="subtitle">Precio</small>
                    <small class="small-bottom">${{album.precio}}</small>                
                    <button class="btn btn-danger" (click)="addCarrito(album.codigo_Album, id_client, album.precio)">Agregar</button>
                </div>                    
            </ng-container>
        </div>
    </div>
</section>