<main data-bs-theme="dark" style="background-color: #282c34;" id="page-content">
    
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Album</th>
            <th scope="col">Artista</th>
            <th scope="col">Total</th>
            <th scope="col">Cantidad</th>
            </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of productsItems">
            <td>{{item.id_album}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.artista}}</td>
            <td>{{item.total }}</td>
            <td>{{item.cantidad}}</td>
        </tr> 
        </tbody>
    </table>
    <button class="btn btn-danger" >Vaciar carrito</button>
</main>