{% extends "/base/base.html" %} 

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
{% endblock %}

{% block title %}MusicOS{% endblock %}

{% block main_content %}
    <div class="text-light bg-img">
        <div class="container-box container">
            <h1 class="display-3 text-uppercase">Agradecemos tu preferencia</h1>
            <p class="lead">Somos una tienda de discos musicales. Nuestra misión es darle a los nostálgicos de la música un viaje al pasado, dándoles la satisfacción que necesitan de sentir la música real.</p>
        </div>
    </div>
{% endblock %}

{% block sold %}
    <div class="text-light py-5" id="equipo">
        <div class="container">
            <h2 class="display-4 text-center">Work Team</h2>
            <hr class="mx-auto mb-5" style="color: crimson; width: 70%;">
            <div class="row">
                {% for wt in work_team %}
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" style="height: 550px;" src="{{wt.photo}}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title text-center">{{wt.name}}</h4>
                                <p class="card-text text-center">{{wt.workstation}}</p>
                            </div>
                            <div class="card-body">
                                <hr class="mx-auto" style="color: #7c4dff; width: 70%;">
                                <p class="card-text text-uppercase text-center">About the job</p>
                                <p class="card-text">{{wt.Description}}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{{wt.github}}" target="_blank"><p class="card-text text-uppercase">Follow Me On Github</p></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}