{% extends "/base/base.html" %} 

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
{% endblock %}

{% block title %}MusicOS{% endblock %}

{% block main_content %}
<section class="store-container">
    <aside class="sidebar">
        <h3 class="text-center">Categorías</h3>
        <hr style="color: #dc3545;">
        <ul>
            {% for cat in categorias %}     
                <li><a href="/store/{{cat.genero}}">{{cat.genero}}</a></li>
                <hr style="color: #7c4dff; width: 70%;">                     
            {% endfor %}
        </ul>
    </aside>
    <div class="content">
        <div class="toggle-nav">    
            <button class="toggle-sidebar mx-auto display-6">Ver Categorías</button>
        </div>
        <div class="products">
            {% for a in albumes %}
                <div class="product">
                    <img src="{{album_img[loop.index-1]}}" alt="Producto 1">
                    <h2>{{a.titulo}}</h2>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/scripts/store.js') }}"></script>
{% endblock %}