<footer class="text-lg-start text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #dc3545;">
    <div>
        <span class="text-left" style="text-align: justify;">Get connected with us:</span>
    </div>
    
    </section>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">MusicOS</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <p class="text-left" style="text-align: justify;">
                        Somos una tienda de discos musicales. Nuestra misión es darle a los nostálgicos 
                        de la música un viaje al pasado, dándoles la satisfacción que nececitan de sentir 
                        la música real.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                    <h6 class="text-uppercase fw-bold">Secciones</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <p>
                        <a href="/store" class="text-white">Generos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Mi Cuenta</a>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Ligas útiles</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <ng-container *ngFor="let icon of socialMediaIcons">
                        <p><img class="icon-social-media" src="../../assets/img/social/{{icon.iconName}}"><a class="text-white text-social-media" href="{{icon.link}}">{{icon.name}}</a></p>                        
                    </ng-container>                      
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Contacto</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <ng-container *ngFor="let icon of contactsIcons">
                        <p><img class="icon-contacts" src="../../assets/img/contacts/{{icon.iconName}}" alt="{{icon.description}}"> {{icon.description}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
        <a class="text-white" href="https://musicos.glitch.me/">MusicOS.com</a>
    </div>
</footer>