.content{
    background-image: url('../../../assets/img/home/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#btn_catalogo button{
    margin-top: 40%;
    margin-bottom: 2.8%;
}

@media screen and (max-width: 898px) {
    #titulo{
        font-size: 100%;
        padding-top: 3%;
    }
    #subtitulo{
        font-size: 90%;
    }
}

/*CARRUSEL*/
.body-category{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    & a{
        margin-top: -250px;
    }
}

.gallery{
    width: 100%;
    & nav li{
        background-color: white;
        border-radius: 50%;
        height: 10px;
        width: 10px;
    }
}
.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
}

.gallery-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls{
    display: flex;
    justify-content: center;
    align-items: center; /* Agregar esta línea para centrar verticalmente */
    margin: 25px 0;
    height: 100px;
    & button{
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 30px;
        margin: 0 50px;
        padding: 0 12px;
        text-transform: capitalize;
    }
}

.gallery-controls-button:focus{
    outline: none;
}

.gallery-controls-previous{
    position: relative;
    &::before{
        border: solid white;
        border-width: 0 5px 5px 0;
        content: '';
        display: inline-block;
        height: 5px;
        left: -30px;
        padding: 10px;
        position: absolute;
        top: 25%;
        transform: rotate(135deg) translateY(-50%);
        transition: left 0.15s ease-in-out;
        width: 5px;
    }
    &:hover::before{
        left: -40px;
    }
}

.gallery-controls-next{
    position: relative;
    &::before{
        border: solid white;
        border-width: 0 5px 5px 0;
        content: '';
        display: inline-block;
        height: 5px;
        padding: 10px;
        position: absolute;
        right: -30px;
        top: 45;
        transform: rotate(-45deg) translateX(-50%);
        transition: right 0.15s ease-in-out;
        width: 5px;
    }
    &:hover::before{
        right: -40px;
    }
}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
    & li.gallery-item-selected{
        background: white;
    }
}

/*ADAPTAR GALLERY*/ 
@media (max-width: 300px) {
    .gallery-container {
        height: 300px;
    }
    
    .gallery-item {
        height: 150px;
        width: 250px;
    }
    
    .gallery-item-1 {
        left: 10%;
    }
    
    .gallery-item-2 {
        left: 30%;
    }
    
    .gallery-item-3 {
        height: 200px;
        left: 50%;
        width: 300px;
    }
    
    .gallery-item-4 {
        left: 68%;
    }
    
    .gallery-item-5 {
        left: 0;
    }
    .gallery-controls button {
        font-size: 25px;
        margin: 10px 25px;
    }
    
    .gallery-controls-previous::before {
        left: -20px;
    }
    
    .gallery-controls-next::before {
        right: -20px;
    }
    
    .gallery-nav {
        bottom: -1000px;
        & li {
            height: 6px;
            width: 6px;
        }
    }
}